REGISTRY_VERSION=2.7.1
REGISTRY_UI_VERSION=2.0.2

#DOMAIN_ENTRYPOINT=https
DOMAIN=registry.local

REGISTRY_DATA=./.data

REGISTRY_HTTP_SECRET=o43g2kjgn2iuhv2k4kjuwiqwdsfsd2u732ga91f23f290qfghsdg

# Adding users tu realm
# htpasswd -Bbn registry 7ujmnhy65tgbvfr4 >> .data/htpasswd 

AWS_S3_ACCESSKEY=AKIAYGDF6H6X3PGT2A4Y
AWS_S3_SECRETKEY=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
AWS_S3_BUCKET=tl-registry
AWS_S3_REGION=eu-west-1

REALM_USER=registry
REALM_PASSWD=7ujmnhy65tgbvfr4