DOMAIN=ghost.2tel.us
# Uncomment this line to force https
# DOMAIN_ENTRYPOINT=https

IMAGE_NAME=sokardys/ghost-s3
GHOST_VERSION=2.30.2-alpine

# You must synchronize it with the protocol used DOMAIN_ENTRYPOINT
BLOG_URL=http://ghost.2tel.us
MYSQL_PASSWORD=ghost

AWS_S3_BUCKET=tutellus-crip
AWS_S3_ASSETHOST=https://d1umspa2e6jvse.cloudfront.net
AWS_S3_KEY=AKIAJWHOWROIS5IEF2OQ
AWS_S3_SECRET=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
AWS_S3_REGION=eu-west-1

AWS_SES_FROM='Cryptoblog' <hola@tutellus.com>
AWS_SES_KEY=AKIAIFOBHL5CXZSJCEGA
AWS_SES_SECRET=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
AWS_SES_REGION=us-east-1

AWS_S3_BUCKET_BACKUP=backup-bucket
AWS_S3_PREFIX=ghost.2tel.us
BACKUP_FREQUENCY=@midnight

