SWARMPIT_VERSION=1.8
AGENT_VERSION=2.1
INFLUX_VERSION=1.7
COUCHDB_VERSION=2.3.0

DOMAIN=swarmpit.localhost
# Uncomment this line to force https
# ENTRYPOINT=https

COUCHDB_STORE_DIR=./.data/couch
INFLUX_STORE_DIR=./.data/influx