DOMAIN=swarmpit.localhost
# Uncomment this line to force https
# ENTRYPOINT=https

BASIC_AUTH=demo:$$apr1$$M897pQjD$$VGKKPHqDPFCzA0nlL35lG.
COUCHDB_STORE_DIR=./.data/couch
INFLUX_STORE_DIR=./.data/influx