DOMAIN=mautic.demo.com
MYSQL_PASSWORD=password
AWS_S3_KEY=AKIAJWHRS5IEF2OQ
AWS_S3_SECRET=UZhxfEtSmpr3dFmETiP5CYSlG6UlE5DtjSY
AWS_S3_REGION=eu-west-1
AWS_S3_BUCKET_BACKUP=tutellus-back
AWS_S3_PREFIX=mautic.demo.com
BACKUP_FREQUENCY=@midnight
AWS_SES_SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
AWS_SES_SMTP_USERNAME=AKIAJLQRHJAA7WAA
AWS_SES_SMTP_PASSWORD=At8f+SDPbwuZz5QpnJBaEi3vObF+qBnw1V41RI9zqUb
SMTP_SERVER_HOSTNAME=mautic.demo.com
MAUTIC_VERSION=2.15.1