ADMINER_VERSION=4.7.0
ADMINER_DOMAIN=adminer.sideprojects.2tel.us
MONGOCLIENT_VERSION=2.2.0
MONGOCLIENT_DOMAIN=mongoclient.sideprojects.2tel.us

# To config basuic auth: echo $(htpasswd -nb <user> <password>) | sed -e s/\\$/\\$\\$/g
MONITOR_BASIC_AUTH=sokardys:$$apr1$$M897pQjD$$VGKKPHqDPFCzA0nlL35lG.