TRAEFIK_VERSION=1.7.6
TRAEFIK_ACME_EMAIL=contact@demo.com
# To config basic auth: echo $(htpasswd -nb <user> <password>) | sed -e s/\\$/\\$\\$/g
# Comment TRAEFIK_BASIC_AUTH to omit Basic Auth
TRAEFIK_BASIC_AUTH=user_:$$a3r1$$M897pQjD$$VGKKPHqDPFCzA0nlL35lG.
TRAEFIK_DOMAIN=traefik.domain.com