NEXTCLOUD_VERSION=18
MARIADB_VERSION=10
REDIS_VERSION=5

DOMAIN=nextcloud.localhost
#DOMAIN_ENTRYPOINT=https

MYSQL_DATABASE=nextcloud
MYSQL_PASSWORD=nextcloud

SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_SECURE=tls
SMTP_PORT=587
SMTP_AUTHTYPE=LOGIN
SMTP_NAME=AKIAJASALQJA7WAA
# If you use Amazon SES, use password without '/'
SMTP_PASSWORD=At8fuoOPL5QpnJBaEi3vObF+qBnw1V41RI9zqUb
MAIL_FROM_ADDRESS=admisiones
MAIL_DOMAIN=tutellus.com

AWS_S3_KEY=AKIAJWHOS5IEF2OQ
AWS_S3_SECRET=UZhxf7xEprptSmpr3dFm5CYSlG6UlE5DtjSY
AWS_S3_REGION=eu-west-1
AWS_S3_BUCKET_BACKUP=tutellus-back
AWS_S3_PREFIX=nextcloud.tutellus.com
BACKUP_FREQUENCY=@midnight

DATA_PATH=./data