SENTRY_DOMAIN=sentry.2tel.us
# Uncomment this line to force https
# SENTRY_ENTRYPOINT=https
# Almost 32 chars SECRET
SENTRY_SECRET=12345678901234567890123456789012
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=sentry

#Email Configuration
AWS_SES_SMTP_SERVER=email-smtp.us-east-1.amazonaws.com
AWS_SES_SMTP_USERNAME=AKIAJASQRGCJA7WAA
AWS_SES_SMTP_PASSWORD=At8fuowuz5QpnJB3vObF+qBnw1V41RI9zqUb
SENTRY_SERVER_EMAIL=sentry@email.com

#Backup Configuration
AWS_S3_KEY=AKIAJWHROIS5IEF2OQ_
AWS_S3_SECRET=UZhxxEprptSmpr3dFmETiP5CYSlG6UlE5DtjSY_
AWS_S3_REGION=eu-west-1
AWS_S3_BUCKET=tutellus-back
AWS_S3_PREFIX=sentry
BACKUP_FREQUENCY=@midnight